/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.sidebar {
    background-color: #0c427e;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #001b37;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #0c427e !important;
    border-color: #0c427e !important;
    color: #fff !important;
    font-weight: 600;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #09325f !important; /* un poco más oscuro */
        border-color: #09325f !important;
        color: #fff !important;
    }

.modern-gridview {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-inline: auto;
}

    .modern-gridview th {
        background-color: #0c427e;
        color: white;
        padding: 10px;
        text-align: center;
    }

    .modern-gridview td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .modern-gridview tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .modern-gridview tr:hover {
        background-color: #eef6ff;
    }
